@font-face {
   font-family: "Hammersmith One";
   src: url("HammersmithOne-Regular.ttf");
}

.label {
   -fx-font-family: "Hammersmith One";
   -fx-font-size: 12;
   -fx-alignment: center-left;
   -fx-text-fill: #373737;
}

.button {
   -fx-font-family: "Hammersmith One";
   -fx-font-size: 14;
   -fx-background-color: #06FFD5;
   -fx-background-radius: 25;
   -fx-padding: 10;
}

.button:pressed {
   -fx-background-color: #00b395;
}